.div1{
	background-color: red;
	width: 25%;
	float: left;

}
.div2{
	background-color: blue;
	width : 25%;
	float :left;
	

}
.div3{
	background-color: black;
	width : 25%;
	float:left;
	
	}
.div4{	
	background-color: green;
	width : 25%;
	float: left;
	
}